__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.streamlit/
.env
.git
.gitignore
*.md
Dockerfile
.dockerignore
node_modules/
mvp.py
chunking-experiment.py
rag-experiment.py
rag-experiment-parent-document.py
distribute.py
notes.txt
chunks.txt
ksbl-mvp-main/
admin_files/
Assets/
pages/
