# Streamlit secrets
.streamlit/secrets.toml
.streamlit/config.toml
.streamlist/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# OS
.DS_Store
Thumbs.db

# Project specific
admin_files/
Assets/
pages/
ksbl-mvp-main/
*.zip
*.log
chroma_db/
data/

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.dll