anthropic
google-generativeai
numpy
streamlit
chromadb
# removed langchain_voyageai
langchain_community
langchain_chroma
prettytable
fastembed
openai
langchain
PyGithub
groq
fastapi
uvicorn
slowapi
python-dotenv
python-multipart